* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.sobre {
    width: 100%;
    padding: 78px 0px;
    background-color: #295d09;
}

.sobre img {
    height: auto;
    width: 420px;
    border-radius: 400px;
    border: 3px #aed36c solid;
}

.sobre-texto {
    width: 550px;
}

.principal {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sobre-texto h1 {
    color: #e9ebed;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.sobre-texto h5 {
    color: #e9ebed;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span {
    color: #aed36c;
}

.sobre-texto p {
    color: #e9ebed;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background: #aed36c;
    color: #295d09;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

button:hover {
    background: #e9ebed;
    border: 2px solid #aed36c;
    cursor: pointer;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .sobre img {
        height: auto;
        width: 270px;
        margin-bottom: 60px;
    }
    .principal {
        display: inline;
    }
    .sobre-texto h1 {
        font-size: 70px;
    }
    .sobre-texto h5 {
        font-size: 20px;
        max-width: 72%;
    }
    .sobre-texto p {
        max-width: 60%;
        text-align: justify;
    }
}
