@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #e9ebed;
}

.header-container {
    height: 100vh;
    width: 100vw;
    background-color: #107c0f;
    background-image: url(assets/imagens/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #e9ebed;
    padding: 1rem 4rem;
    border: 1px solid #e9ebed;
    border-radius: 10px;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

a:hover {
    cursor: pointer;
    background-color: #69ab3d;
}


/*MENU HAMBURGER*/

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 99999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #e9ebed;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}


/*MENU*/

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px 0;
    color: #c1f7e0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    border-radius: 18px;
    padding: 3px 8px;
}


/*ANIMACAO DO MENU*/

#toggle:checked * .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked * .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked * .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked * .checkbox {
    background-color: #ff1111;
}

#toggle:checked~.menu {
    box-shadow: 0px 0px 0px 100vmax #107c0f;
    z-index: 1;
}

#toggle:checked~.menu-items {
    visibility: visible;
    opacity: 1;
}


/*CARDS*/

.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #107c0f;
    background-image: url(/assets/imagens/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #00eeee;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-text {
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #ffffff;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.card-wrapper p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card-wrapper a {
    text-decoration: none;
    color: #00eeee;
}

.card:hover {
    filter: unset;
}

.card:hover>.card-wrapper::before {
    height: 250px;
    width: 250px;
    opacity: 1;
}

.card:hover>.card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}


/*FOOTER*/

.footer {
    width: 100%;
    height: 100px;
    background-color: #107c0f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e9ebed;
}


/*BOTAO DE VOLTAR*/

.btn {
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.btn.btn-white {
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

.btn.btn-white:hover {
    background: #107c0f;
    border-color: #107c0f;
    color: #fff;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #69ab3d;
}

a:hover {
    text-decoration: none;
    color: #e9ebed;
}

.presentation {
    background-color: rgba(41, 93, 9, 0.446783);
    margin-top: center;
    border-radius: 15px;
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    .presentation {
        width: 100%;
    }
    .presentation h1 {
        font-size: 30px;
    }
    .presentation h2 {
        font-size: 11px;
    }
    .social-media {
        display: block;
    }
    .social-media a {
        display: block;
        min-width: 0.5rem;
        text-align: center;
    }
}
